.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #19514c;
    padding-top: 20px;
  }

  .sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .content {
    margin-left: 250px;
    padding: 16px;
    
    
  }

  body {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #19514c;
    background-color: #fff6eb;
    margin: 0;
    padding: 0;
  }